<h2 style="color: indianred">Вітаємо! Вас запрошено до кооперативу {{cooperationName}} в якості {{roleName}}</h2>

Для регыстрації перейдіть за посиланням.
<a href="{{link}}">Посилання для підтвердження</a>