openapi: 3.0.3

info:
  title: HomePage - OpenAPI 3.0
  description: "This is a Home Page sample of Home Project based on the OpenAPI 3.0 specification."
  license:
    name: MIT License
    url: https://opensource.org/licenses/mit-license.php
  contact:
    url: https://github.com/ita-social-projects/Home
  version: 1.0.0

servers:
  - url: /api/0

tags:
  - name: invitations
    description: Invitations managment
  - name: news
    description: News management operations
  - name: current user
    description: Current user management operations
  - name: user
    description: User management operations
  - name: contact
    description: Contact management operations
  - name: cooperation
    description: Cooperation management
  - name: house
    description: Operations with house
  - name: address
    description: Operations with address
  - name: apartment
    description: Apartment management operations
  - name: apartment ownership
    description: Apartment ownership management operations
  - name: apartment invitation
    description: Apartment invitation management operations
  - name: cooperation poll
    description: Cooperation poll management operations
  - name: poll
    description: Poll management operations  independently from cooperation
  - name: cooperation contact
    description: Cooperation contact management operations
  - name: poll question
    description: Poll question management operations
  - name: polled house
    description: Polled house management operations
  - name: poll vote
    description: Poll vote management operations

paths:
  /invitations/invitation-approval:
    $ref: './paths/invitations.yaml#/invitations-invitationApproval'

  /invitations:
    $ref: './paths/invitations.yaml#/invitations'

  /invitations/create-invitation:
   $ref: './paths/invitations.yaml#/create-invitation'

  /invitations/delete-invitations:
    $ref: './paths/invitations.yaml#/delete-invitations'

  /news:
    $ref: './paths/news.yaml#/news'

  /news/{id}:
    $ref: './paths/news.yaml#/news-newsId'

  /users/current:
    $ref: './paths/currentUser.yaml#/current-user'

  /users:
    $ref: './paths/users.yaml#/users'

  /users/{id}:
    $ref: './paths/users.yaml#/users-userId'

  /users/{user_id}/contacts:
    $ref: './paths/contacts.yaml#/users-userId-contacts'

  /users/{user_id}/contacts/{id}:
    $ref: './paths/contacts.yaml#/users-userId-contacts-contactId'

  /cooperations:
    $ref: './paths/cooperations.yaml#/cooperations'

  /cooperations/{id}:
    $ref: './paths/cooperations.yaml#/cooperations-cooperationId'

  /cooperations/{cooperation_id}/houses:
    $ref: './paths/houses.yaml#/cooperations-cooperationId-houses'

  /cooperations/{cooperation_id}/houses/{id}:
    $ref: './paths/houses.yaml#/cooperations-cooperationId-houses-houseId'

  /cooperations/{cooperation_id}/contacts:
    $ref: './paths/cooperationContacts.yaml#/cooperations-cooperationId-contacts'

  /cooperations/{cooperation_id}/contacts/{id}:
    $ref: './paths/cooperationContacts.yaml#/cooperations-cooperationId-contacts-contactId'

  /houses/{house_id}/apartments:
    $ref: './paths/apartments.yaml#/houses-houseId-apartments'

  /houses/{house_id}/apartments/{id}:
    $ref: './paths/apartments.yaml#/houses-houseId-apartments-apartmentId'

  /apartments/{apartment_id}/ownerships:
    $ref: './paths/apartmentOwnerships.yaml#/apartments-apartmentId-ownerships'

  /apartments/{apartment_id}/ownerships/{id}:
    $ref: './paths/apartmentOwnerships.yaml#/apartments-apartmentId-ownerships-ownershipId'

  /cooperations/{cooperation_id}/polls:
    $ref: './paths/cooperationPolls.yaml#/cooperations-cooperationId-polls'

  /cooperations/{cooperation_id}/polls/{id}:
    $ref: './paths/cooperationPolls.yaml#/cooperations-cooperationId-polls-pollId'

  /polls:
    $ref: './paths/polls.yaml#/polls'

  /polls/{id}:
    $ref: './paths/polls.yaml#/polls-pollId'

  /polls/{poll_id}/questions:
    $ref: './paths/pollsQuestions.yaml#/polls-pollId-questions'

  /polls/{poll_id}/questions/{id}:
    $ref: './paths/pollsQuestions.yaml#/polls-pollId-questions-questionId'

  /polls/{poll_id}/houses:
    $ref: './paths/pollsHouses.yaml#/polls-pollId-houses'

  /polls/{poll_id}/houses/{id}:
    $ref: './paths/pollsHouses.yaml#/polls-pollId-houses-houseId'

  /polls/{poll_id}/votes:
    $ref: './paths/pollsVotes.yaml#/polls-votes'

security:
  - bearerAuth: [ ]

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
