<h2 style="color: indianred">Вітаємо! Вас запрошено до кооперативу {{cooperationName}} в якості {{role}}</h2>
<h3>Токен для підтвердження реєстрації: {{registrationToken}} </h3>
Для підтвердження перейдіть за посиланням і введіть токен.
<a href="{{link}}">Посилання для підтвердження</a>
