<h2 style="color: indianred">Вітаємо! Вас запрошено до кооперативу {{cooperationName}} в якості {{role}}</h2>

Для реєстрації перейдіть за посиланням.
<a href="{{link}}">Посилання для підтвердження</a>
