<h2 style="color: indianred">Вітаємо! Вам надіслано посилання для підтвердження зміни паролю</h2>
Якщо Ви дійсно хочете змінити пароль, перейдіть за посиланням відображенним нижче. Якщо ні - ігноруйте це надсилання
<h3>Токен для підтвердження зміни паролю: {{token}} </h3>
<a href="{{link}}">Посилання для підтвердження</a>
